
.home-container {
    width: 100%;
    max-width: 1120px;
    height: 100vh;
    margin: 0 auto;

    display: block;
    align-items: baseline;
    justify-content: space-between;
}

.header {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
}

.header-container {
    display: flex;
    margin-top: 3%;
    align-items: center;
    justify-content: space-between;
}

.logo {
    width: 18%;
    padding: 0% 5%;
}

.menu-tarja {
    display: flex;
    align-items: center;
    justify-content: space-between;

    width: 70%;
    height: 60px;
    background: #22384F;
    border-radius: 100px 0px 0px 100px;
}

.itens-container {
    display: flex;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 10%;
}

.menu-item {
    color: white;
    font: 400 14px Roboto, sans-serif;
    text-transform: uppercase;
    text-decoration-line: none;
    display: flex;
    align-content: center;
}

.icons-container {
    display: flex;
    padding-left: 7px;
    margin-right: 2%;
    background-color: aqua;
}

.icons-container a {
    padding: 0% 5%;
}

.cards-container ul {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 3%;
    list-style: none;  
    padding: 5%;
    width: 93%;

}

.cards-container ul li {
    background: #fff;
    padding: 24px;
    border-radius: 8px;
    position: relative;
    display: block;
}

.cards-container ul li button{
    position: absolute;
    right: 24px;
    top: 24px;
    border: 0; 
}

.cards-container ul li button:hover{
    opacity: 0.8;
}


.cards-container ul li p + strong{
    margin-top: 32px;
}


.img-card {
    width: 100%;
    height: 30vh;
    object-fit: cover;
    object-position: center;
    border-radius: 9px;

}

.cards-container ul li h1 {
    font: bold 25px Roboto, sans-serif;
    padding: 10px 0 10px 0;
}

.cards-container ul li p {
    font: 200 15px Roboto, sans-serif;
    padding: 10px 0 10px 0;
    color: #545464;
    text-align: justify;
}

.leia-mais {
    padding: 4px 7px;
    color: rgb(7, 4, 182);
    font-size: 15px;
    transition: filter 0.2s;
}

.leia-mais:hover {
    filter: brightness(50%);
}

.textCyborg {
    font: 900 italic 15px Roboto, sans-serif;
    color: red;
}

.iconMenu {
    display: none;
}

.menu-mb {
    display: none;
}


@media screen and (max-width: 600px) {
    .cards-container ul {
        display: block;
    }

    .cards-container ul li {
        margin-bottom: 15px;
    }

    .img-card {
        height: 50vh;
    }

    .logo {
        width: 130px;
        padding: 0% 3%;
    }

    .cards-container ul li p {
        font: 200 18px Roboto, sans-serif;
        color: #151518;
    }
    
    .itens-container {
        display: none;
    }

    .iconMenu {
        display: flex;
        color: #fff;
        width: 20px !important;
        height: 20px !important;
        margin-right: 4%;
    }


    .icons-container {
        display: flex;
        padding-left: 7px;
        margin-right: 2%;
        background-color: rgb(187, 255, 0);
    }

    .menu-mb {
        display: flex;
        flex-flow: column nowrap;
        background-color: #22384F;
        width: 120px;
        align-self: flex-end;
    }

    .menu-mb-item {
        display: flex;
        text-align: right;
        color: white;
        font: 400 14px Roboto, sans-serif;
        text-transform: uppercase;
        text-decoration-line: none;
        padding: 10px;
    }
};