.carousel-container {
    width: 100%;
    max-width: 1120px;
    height:320px;

    display: flex;
    align-items: center;
    justify-content: space-between;
    object-fit: cover;
    margin-top: 15px;
}

.carousel-img {
    width: 100%;
}


@media screen and (max-width: 600px) {
    .carousel-container {
        height:150px;
    }
};