
.new-incident-container {
    width: 100%;
    max-width: 1120px;
    margin: 0 auto;

    align-items: center;
}

.new-incident-container .content {
    padding: 20px;
    box-shadow: 0 0 100px rgba(0, 0, 0, 0.1);
}

.new-incident-container .content section {
    max-width: 450px;
    margin: auto;
}
    
.new-incident-container .content section h1 {
    margin: 64px 0 32px;
    font-size: 32px;
}

.new-incident-container .content section p{
    font-size: 18px;
    color: #737380;
    line-height: 32px;
}

.new-incident-container .content form {
    max-width: 450px;
    margin: auto;
}

.new-incident-container .content form input,
.new-incident-container .content form select,
.new-incident-container .content form textarea{
    margin-top: 8px;
}

.fone {
    display: flex;
    
}

.mais {
    background-color: rgb(255, 255, 255,0);
    margin-left: 5px;
    margin-top: 7px;
    border: none;
}

.fones-container {
    display: block;
    align-items: center;
}

.fones {
    display: flex;
    align-items: center;
}

.fones div {
    font: 500 15px Roboto, sans-serif;
    padding-left: 3px;
    padding-top: 4px;
}